# {{ ansible_managed }}
DEFAULT menu.c32
PROMPT 0
MENU TITLE {{ pxe_menu_title }}
TIMEOUT {{ pxe_menu_timeout_seconds * 10 }}

LABEL debian
  MENU LABEL ^Install Debian
  KERNEL debian-installer/amd64/linux
  APPEND initrd=debian-installer/amd64/initrd.gz

LABEL ubuntu
  MENU LABEL ^Install Ubuntu
  KERNEL ubuntu-installer/amd64/linux
  APPEND initrd=ubuntu-installer/amd64/initrd.gz

LABEL local
  MENU LABEL Boot from ^local disk
  LOCALBOOT 0
