# {{ ansible_managed }}
[Unit]
Description=Generate the PXE/DHCP status page
After=kea-dhcp4-server.service

[Service]
Type=oneshot
Environment=KEA_SOCKET={{ kea_control_socket }}
Environment=KEA_STATUS_OUTPUT={{ tftp_root }}/status.html
ExecStart=/usr/local/bin/kea-status
