# {{ ansible_managed }}
server {
    listen {{ http_listen_port }} default_server;
    listen [::]:{{ http_listen_port }} default_server;

    server_name _;
    root {{ http_root }};
    autoindex off;

    location / {
        try_files $uri =404;
    }
}
